// Layout


.l-aside {
  background-color: #e5e3df;
}

  .l-header {
    padding: 1em;

    text-align: center;

    background-color: #FFF;
    border-bottom: 1px solid #CECECE;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.32);
  }

    .l-logo {
      width: 100%;
    }

  .l-map {
    width: 100%;
    height: 400px;
  }

.l-twitter-form {
  @include clearfix();
}

@media (min-width: $screen-sm) {
  .l-aside {
    overflow-y: auto;
    border-right: 1px solid #999999;
  }

      .l-logo {
        width: 200px;
      }

  .l-map {
    width: 100%;
  }
}
