// Layout

.l-header {
  padding: 3em 1em 1em 1em;
  text-align: center;
}

.l-logo {
  width: 100%;
}

.l-map {
  width: 100%;
  height: 300px;
}

.l-twitter-form {
  @include clearfix();
}

#summary-page .l-map {
  height: 700px;
}

@media (min-width: $screen-lg) {
  .l-header {
    text-align: left;
  }

    .l-logo {
      width: 200px;
    }
}
