// Layout


.l-aside {
  background-color: #e5e3df;
}

  .l-header {
    padding: 1em;

    text-align: center;

    background-color: #F3F3F3;
  }

    .l-logo {
      width: 100%;
    }

  .l-map {
    width: 100%;
    height: 600px;
  }

.l-twitter-form {
  @include clearfix();
}

@media (min-width: $screen-sm) {
  .l-aside {
    overflow-y: auto;
  }

    .l-header {
      text-align: left;
    }

      .l-logo {
        width: 200px;
      }

  .l-map {
    width: 100%;
  }
}
