<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Museomixtwitterdb</title>
        <link href="/assets/css/styles.css" media="all" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}"></script>
        <script type="text/javascript">
            {% block inline_javascript %}
                var GRES = GRES || {};
            {% endblock %}
        </script>
        <script type="text/javascript" src="/assets/js/scripts.js"></script>
    </body>
</html>
