<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Museomixtwitterdb</title>
        <link href="/assets/css/styles.css" media="all" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
