twitter:
  consumer_key:         'YOUR_CONSUMER_KEY'         # The consumer key. More info on https://twittercommunity.com/t/where-is-consumer-key/1506
  consumer_secret_key:  'YOUR_CONSUMER_SECRET_KEY'  # The consumer secret key. More info on https://twittercommunity.com/t/where-is-consumer-key/1506
  consumer_username:    'YOUR_CONSUMER_NAME'        # The name of your twitter account.
  access_token:         'YOUR_ACCESS_TOKEN'         # Access token. More info on https://dev.twitter.com/oauth/overview
  access_token_secret:  'YOUR_ACCESS_TOKEN_SECRET'  # Access secret token. More info on https://dev.twitter.com/oauth/overview

google:
  map_api_key:          'YOUR_GOOGLE_MAP_API_KEY' # Google Map API key.

gres:
  arobase_tag:          'YOUR_AROBASE_TAG' # This is the tag that will be used in the tweet ('mfk' for instance).
