<form action="/escape" method="post" class="l-twitter-form">
    <div class="form-group">
        <label for="tweet-body">Your history:</label>
        <textarea class="form-control" placeholder="Your message" name="tweet-body" id="tweet-body" maxlength="95"></textarea>
        <b class="pull-left"><span id="tweet-count"></span> remaining</b>
        <input type="hidden" name="escape-id" value="{{ escape.id }}">
    </div>
    <div class="pull-right">
        <input class="btn btn-default" type="submit">
    </div>
</form>
