{% block content %}
    <form action="index.php/tweet" method="post">
        <div class="form-group">
            <label for="tweet-body">Name:</label>
            <textarea class="form-control" placeholder="Your message" name="tweet-body" id="tweet-body" maxlength="140"></textarea>
        </div>
        <input class="btn btn-default" type="submit">
    </form>
{% endblock %}
