<form action="/escape" method="post">
    <div class="form-group">
        <label for="tweet-body">Name:</label>
        <textarea class="form-control" placeholder="Your message" name="tweet-body" id="tweet-body" maxlength="100"></textarea>
        <h6 class="pull-left"><span id="tweet-count"></span> remaining</h6>
        <input type="hidden" name="escape-id" value="{{ escape.id }}">
    </div>
    <div class="pull-right">
        <input class="btn btn-info" type="submit">
    </div>
</form>
