{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% include 'escape/form.html.twig' %}
        </div>
        <div class="col-md-6"></div>
    </div>
{% endblock %}
