{% extends "layout.html.twig" %}

{% block content %}
    <h1>Escape</h1>
    <div class="row">
        <div class="col-md-6">
            <p>
                Hello! I am the <em>esc-key</em>. With me, you can stop an action on
                your computer. Since the middle of 2016 me and my friends
                of the Museum of Communication in Bern
                are travelling. The museum is under construction and we take a
                year off and want to meet people.
            </p>
            <p>
                Please tell me <strong>YOUR</strong> escape-story. For that you have only 120
                characters. After that, please pass me on to somebody else, so
                I can listen to a new story. Take a selfie of the handover and
                post everything on our website.
            </p>
            <p>
                In August 2017 I have to be back in the museum of
                communication in Bern.
                Thank you for your help!
            </p>
            {% include 'escape/form.html.twig' %}
        </div>
        <div class="col-md-6">
            {% include 'escape/map.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% include 'escape/tweet-list.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block inline_javascript %}
    {{ parent() }}
    GRES.escapeId = {{ escape.id }}
{% endblock %}